{% extends "plot_base.html" %}

{% block page_title %}MQTTPlot - {{ topic }}{% endblock %}

{% block socketio %}<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>{% endblock %}

{% block page_script %}<script src="/static/plot_page.js" defer></script>{% endblock %}

{% block body_class %}admin plot-window{% endblock %}
{% block body_data %}data-mode="admin" data-source="topic" data-topic="{{ topic }}"{% endblock %}

{% block header_title %}{{ topic }}{% endblock %}

{% block header_right %}
  <button id="btnClose" type="button">Close</button>
{% endblock %}
