{% extends "plot_base.html" %}

{% block page_title %}{{ title or ('MQTTPlot - ' ~ slug) }}{% endblock %}

{% block page_script %}<script src="/static/plot_page.js" defer></script>{% endblock %}

{% block body_data %}data-mode="public" data-slug="{{ slug }}"{% endblock %}

{% block header_title %}{{ title or slug }}{% endblock %}

{% block header_subtitle %}{% endblock %}

{% block header_description %}
  {% if description %}
  <div style="opacity:0.85;">{{ description }}</div>
  {% endif %}
{% endblock %}

{% block header_right %}{% endblock %}
